### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
.run/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Minecraft Modding ###
run/
repo/
logs/
crash-reports/

### Java ###
*.class
*.log

### Generated ###
src/generated/**/.cache/